---
layout: archive
title: "Teaching and Lab Sessions"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

Holding Lab sessions for two courses:
* IE360: Facilities Planning and Design: Optimization Modeling for problems in manufacturing, warehousing, and office planning.
* IE361: Production Planning & Control: Use of data analytics tools and optimization modeling in addressing problems in planning and control of facilities, human resources, projects, products, material, and information in production systems.
